<!DOCTYPE html>
<html lang="en">
<%- include('../../layout/head') %>
<body>
    <%- include('../../layout/header') %>
    <main>
        <div class="title">
            <p>Search by Title or Author</p>
        </div>
        <div class="container">
            <form action="/searches" method="POST">
                <input id="search" type="text" name="search" placeholder="Enter a title or author" required>
                <div class="radio flex">
                    <label for="">Title</label>
                    <input type="radio" name="searchType" required value="intitle" checked>
                </div>
                <div class="radio flex">
                    <label for="">Author</label>
                    <input type="radio" name="searchType" required value="inauthor">
                </div>
                <button id="searchButton">Search the Google Books API</button>
            </form>
        </div>
    </main>
    <%- include('../../layout/footer') %>
</body>

</html>


