body {
    
    margin: 0 auto;
}

@media (max-width: 767px) {
    .container {
        max-width: 767px;
        text-align: center;
        margin: 0 auto;
    }
    .center {
        align-items: center;
    }
    .flex{
        display: flex;
        align-items: center;
    }
    .flexCol{
        display: flex;
        align-items: center;
        flex-direction: column;

    }
}